.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/rmarkdown/templates/paged_windmill/skeleton/skeleton.pdf
inst/rmarkdown/templates/paged_windmill/skeleton/skeleton.html
inst/rmarkdown/templates/paged_nuts/skeleton/skeleton.pdf
inst/rmarkdown/templates/paged_nuts/skeleton/skeleton.html
