.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/rmarkdown/templates/paged_windmill/skeleton/skeleton.pdf
inst/rmarkdown/templates/paged_windmill/skeleton/skeleton.html
inst/rmarkdown/templates/paged_hazelnuts/skeleton/skeleton.pdf
inst/rmarkdown/templates/paged_hazelnuts/skeleton/skeleton.html
inst/rmarkdown/templates/paged_grid/skeleton/skeleton.pdf
inst/rmarkdown/templates/paged_grid/skeleton/skeleton.html
inst/doc
